.container{
    border: 1px rgb(104, 103, 103) solid;
    padding: 4px;
    margin: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgb(189, 198, 185);
}

table {
    border: 2px black solid;
   padding: 4px;
   margin: 50px;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5%;
    background-color: rgb(236, 238, 236);
}

th, td {
    padding: 10px;
    border: 1px solid #c5c2c2;
}

th {
    background-color: #928f8f;
    text-align: left;
}

td:hover {
    background-color: #5e5b5b;
}

.navbar {
    font-family: 'Georgia', serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e68a00 !important;
}

.nav-link {
    color: #383736 !important;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffa733 !important;
}
