.container{
    border: 1px rgb(104, 103, 103) solid;
    padding: 4px;
    margin: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table {
    border: 2px black solid;
   padding: 4px;
   margin: 50px;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5%;
}

th, td {
    padding: 10px;
    border: 1px solid #c5c2c2;
}

th {
    background-color: #f1f1f1;
    text-align: left;
}

td:hover {
    background-color: #5e5b5b;
}
nav{
    margin-left: 50%;
}