/* General Body Styling */
html {
    background-color: rgb(235, 236, 235);
   
}
#registrationForm {
    background-color: rgb(189, 198, 185);
    width:500px ;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    margin: 50px auto;
    
}
.work{
    
    background-color: rgb(235, 236, 235);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    
}
/* Container Styling */
.container {
   
    padding: 30px;
    margin: 50px auto;
   
    
}

/* Heading Styling */
  #h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(14, 34, 50);; 
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
}

#button{
    color: aliceblue;
    background-color: rgb(23, 68, 104);
    margin-top: 5%;
    margin-left: 50%;
    border-radius: 10%;
}
#button:hover{
    background-color: green;
    color: black;
   
}
